@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    html {
      font-family: montserrat, sans-serif;
      font-family: fira sans, sans-serif;
    }
    .dark {
      background-color: bg-gray-800;
    }
  }
}
